#bioImg img {
	max-height: 10em;
}

#bioImg {
	text-align: center;
	width: 30%;
}

#bioContent {
	width: 70%;
}

@media only screen and (max-width: 720px) {
	td {
		display: inline-block;
		width: 100% !important;
	}
	
	#bioImg img {
		max-height:15em !important;
	}
	#bioContent{
		text-align:center;
	}
}