body {
    background-image: url(https://1198159.github.io/images/wallpaper.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    position:absolute;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: arial;
    font-size: 1em;
}



.indent{

	text-indent:2em;

}



/* Start of Header*/

.header {

  background: #363639;

  width: 100%;

  top: -1em;

  padding: 0px;

  padding-bottom: 0px;

  padding-top: 10px;

}



.header h1 {

  margin: 0;

  padding: 0;

}



a {

  color: #555555;

  text-decoration: none;

  font-weight: bold;

}



a:visited {

  color: #555555;

}



.aNo {

  color: initial;

  text-decoration: none;

}



.aNo:visited {

  color: initial;

}



li .aNo {

  color: white;

}



li .aNo:visited {

  color: white;

}



/*nav menu Start*/

#dropdownMenu {

  width: 100%;

  background-color: black;	

  height: 3.01em;

  border-bottom: 10px solid #990000;

  display: block;

}



#dropdown {

  list-style: none;


  padding-top: 4px;

  height: 1.5em;

  padding-bottom: 0px;

  width: 100%;

  display: flex;

  justify-content: space-evenly;

}



@media screen and (max-width:600px) {

  #dropdown {

    padding-top: 0px;

    flex-direction: column;

    height: 1.5em;

    justify-content: flex-start;

    padding:0px;

    align-content:stretch;

  }



  .dropdownUp {

    height: 10% !important;

    background: green;

  }

}



.dropdownItem {

  background: black;

  padding: 10px;

  height: 1.3em;
  width: 18%;
  text-align: center;
}



.dropdownItem:hover {

  background: #990000;

}



#currentTab {

  background-color: #990000;

  height: 1.3em;
  width: 18%;
  text-align: center;

}



#hideDrop {

  display: none;

}



#hideDrop img {

  height: 10em;
  width: 10em;
  text-align: center;
}



@media screen and (max-width:600px) {

  .dropdownItem{

    position: relative;

    right: 1em;

    text-align: center;

    width:99.5%;

  }



  #hideDrop {

    display: inline;

  }

}



/*nav menu end*/

#menuIcon {

  height: 2em;

  position: relative;

  top: -2.1em;

  margin-right: 10px;

}



#title {

  text-align: center;

}

#title2 {

  left: 15%;

}

#title a {

  color: white;

}



/* End of Header*/

/* Start of Body*/

#main {

  /*margin: 10px;
  padding: 5px;*/
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: #777777;
  border-bottom: 5px solid #999999;
  /*border: 5px solid #999999;*/

}



.content {
  left: 3%;
  background-color: #777777;
  padding: 5px;
  width: 45%;
  margin: 5px;
  border: 5px solid #999999;

}

.content2 {
  background-color: #777777;
  padding: 5px;
  margin: 5px;
  border: 5px solid #999999;

}
.content3 {
  height: 55px;
  background-color: #777777;
  padding: 5px;
  margin: 5px;
  border: 5px solid #999999;

}

.contentHeader {

  padding: 0;

  padding-bottom: 5px;

  line-spacing: 0;

  margin: 0;

  line-spacing: 0;

  text-align:center;

}



.content p {

}



/* End of Body*/

/* Media stuff */
