body {
	background: #dddddd;
	color: black;
	margin: 0;
	font-family: arial;
}

.header {
	background: #363639;
}

.aNo {
	color: initial;
	text-decoration: none;
}

.aNo:visited {
	color: initial;
}

li .aNo {
	color: white;
}

li .aNo:visited {
	color: white;
}

#dropdownMenu {
	width: 100%;
	background-color: black;
	height:2em+20px;
}

#dropdown {
	list-style: none;
	padding: 10px;
	padding-top: 4px;
	height: 2em;
}

.dropdownItem {
	float: left;
	margin-right: 2em;
	background: black;
	padding: 10px;
}

.dropdownItem:hover {
	background: #444444;
}

#hide {
	color: white;
	float: right;
}