@import "palette.scss";

body {
	height: 100%;
	color: black;
	background: #84cae7;
	font: 15px arial, sans-serif;
}

.content {
	border: 5px solid black;
	border-radius: 5px;
	border-bottom-left-radius: 30px;
	padding: 5px;
	background-repeat: no-repeat;
	background-image: linear-gradient(#22aaa1, #4ce0d2 15%);
}

#navigation td {
	background-color: #136f63;
	border-radius: 5px;
}

#navigation td:hover {
	background-color: #22aaa1;
}

a:link {
	text-decoration: none;
	color: #22aaa1;
}

a:visited {
	text-decoration: none;
	color: #136f63;
}

.nav:link {
	color: black;
}

.nav:visited {
	color: black;
}

#side {
	height: 100%;
	width: 18%;
	float: left;
}

#info {
	height: 100%;
	width: 78%;
	float: right;
}