/*
#66b9bf - light blue
#07889b - teal
#e37222 - orange
#eeaa7b - light orange
*/
body {
	color: black;
	background-image: repeating-linear-gradient(to bottom right, #006800, #002000);
	/*background: linear-gradient(green, black);*/
	font: 15px arial, sans-serif;
}

.content {
	border: 5px solid black;
	border-radius: 5px;
	border-bottom-left-radius: 30px;
	padding: 5px;
	background-color: #006900;
}

#navigation td {
	background-color: #e37222;
	border-radius: 5px;
}

#navigation td:hover {
	background-color: #eeaa7b;
}

a:link {
	text-decoration: none;
	color: #e37222;
}

a:visited {
	text-decoration: none;
	color: #777777;
}

.nav:link {
	color: black;
}

.nav:visited {
	color: black;
}

#side {
	width: 18%;
	float: left;
	height: 100%;
}

#info {
	width: 78%;
	float: right;
	height: 100%;
}